{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# Configure Dock preferences and restart it.
set -euo pipefail

defaults write com.apple.dock tilesize -int 45
defaults write com.apple.dock large-size -int 77
defaults write com.apple.dock show-recents -int 0
defaults write com.apple.dock mineffect -string "scale"
defaults write com.apple.dock magnification -bool true
defaults write com.apple.dock minimize-to-application -bool true
defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock autohide-delay -float 0
defaults write com.apple.dock autohide-time-modifier -int 0
defaults write com.apple.dock showhidden -bool true

killall Dock >/dev/null 2>&1 || true
{{- end -}}
