{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# Configure Finder preferences.
set -euo pipefail

# Finder: show path bar
defaults write com.apple.finder ShowPathbar -bool true
# Finder: show status bar
defaults write com.apple.finder ShowStatusBar -bool true
# Finder: use column view in all Finder windows
defaults write com.apple.finder FXPreferredViewStyle -string "clmv"
# Don't show external hard drives on the desktop
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool false
# Don't show internal hard drives on the desktop
defaults write com.apple.finder ShowHardDrivesOnDesktop -bool false
# Don't show mounted servers on the desktop
defaults write com.apple.finder ShowMountedServersOnDesktop -bool false
# Don't show removable media on the desktop
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool false
# Finder: disable window animations and Get Info animations
defaults write com.apple.finder DisableAllAnimations -bool true
# Finder: don't show hidden files by default
defaults write com.apple.finder AppleShowAllFiles -bool false
# Keep folders on top when sorting by name
defaults write com.apple.finder _FXSortFoldersFirst -bool true
# When performing a search, search the current folder by default
defaults write com.apple.finder FXDefaultSearchScope -string "SCcf"
# Disable the warning when changing a file extension
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false

killall Finder >/dev/null 2>&1 || true
{{- end -}}
