{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# Configure Dock preferences and restart it.
set -euo pipefail

# Set the icon size of Dock items
defaults write com.apple.dock tilesize -int 45
# Set the size of enlarged icons when magnification is on
defaults write com.apple.dock large-size -int 77
# Don't show recent applications in Dock
defaults write com.apple.dock show-recents -int 0
# Use the "scale" minimize/maximize window effect
defaults write com.apple.dock mineffect -string "scale"
# Enable Dock magnification
defaults write com.apple.dock magnification -bool true
# Minimize windows into their application's icon
defaults write com.apple.dock minimize-to-application -bool true
# Automatically hide and show the Dock
defaults write com.apple.dock autohide -bool true
# Remove the auto-hiding Dock delay
defaults write com.apple.dock autohide-delay -float 0
# Remove the animation when hiding/showing the Dock
defaults write com.apple.dock autohide-time-modifier -int 0
# Make Dock icons of hidden applications translucent
defaults write com.apple.dock showhidden -bool true

killall Dock >/dev/null 2>&1 || true
{{- end -}}
